<div class="card text-left">
  <div class="card-image">
    <img src="/images/miniature-poodle.jpg" class="img-responsive">
  </div>
  <div class="card-header">
    <div class="card-title">Miniature Poodle</div>
    <div class="card-subtitle text-gray">
      <a href="https://www.akc.org/dog-breeds/poodle-miniature/" target="_blank">About & Information</a>
    </div>
  </div>
  <div class="card-body">
    Body
  </div>
  <div class="card-footer">
    <form class="form-group float-right" action="/delete/<%= dogId %>" method="post">
      <input class="btn btn-error" type="submit" name="submit" id="submit" value="Remove">
    </form>
  </div>
</div>