<div class="colum col-12 text-center" id="dogs">
  <div class="divider"></div>
  <h2>Dogs under consideration</h1>
  <a class="btn btn-link mx-2" href="https://www.akc.org/dog-breeds/">Find a dog</a>
  <a class="btn btn-success mx-2" href="#dog-form">Add a dog +</a>
  <ul>
    <% dogs.forEach(dog => { %>
      <li>
        <%- include("./dogcard.ejs", dog) %> 
      </li>
    <% }) %>
  </ul>
  <div class="divider"></div>
</div>