<div class="column col-12 hero">
  <div class="hero-body text-center text-light">
    <h1>When are we getting a dog?</h1>
    <p>Last new years you were talking about getting a dog, so... when is that going to happen?</p>
  </div>
</div>