<div class="column col-12 text-center bg-gray">
  <h2>Why get a dog?</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    .
  </p>
  <h3>Pros & Cons</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Pros</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motivation to get active</td>
      </tr>
      <tr>
        <td>Motivation to stay active</td>
      </tr>
      <tr>
        <td>Companionship</td>
      </tr>
      <tr>
        <td>Proven to help with empty nest syndrome</td>
      </tr>
      <tr>
        <td>Brings joy to your life</td>
      </tr>
      <tr>
        <td>Unconditional love</td>
      </tr>
      <tr>
        <td>You could make some money becoming insta famous (offsets the cost con)</td>
      </tr>
    </tbody>
  </table>
</div>
