<div class="column col-12 bg-gray">
  <h2 class="text-center">Why get a dog? Here are some quotes</h2>
  <p class="text-center">
    Spending just 15-30 minutes with your dog can help you feel more calm and relaxed, reducing stress and increasing happiness. Playing with your pup increases your brain’s levels of dopamine and serotonin, both of which are neurotransmitters associated with pleasure and tranquility. So the next time you’re feeling down, grab a toy and spend some time with your pup! That wagging tail will be sure to put a smile on your face.
  </p>
  <h3 class="text-center">Pros & Cons</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Pros</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Motivation to get active</td>
      </tr>
      <tr>
        <td>Motivation to stay active</td>
      </tr>
      <tr>
        <td>Companionship</td>
      </tr>
      <tr>
        <td>Proven to help with empty nest syndrome</td>
      </tr>
      <tr>
        <td>Brings joy to your life</td>
      </tr>
      <tr>
        <td>Unconditional love</td>
      </tr>
      <tr>
        <td>You could make some money becoming insta famous (offsets the cost con)</td>
      </tr>
    </tbody>
  </table>
  <p class="my-2">You may have realized that there are no cons. This is not a mistake.</p>

  <h2 class="text-center">Here's what dog owners have to say'</h2>
  <div class="card"> 
    <div class="card-header">
      <div class="card-title h5">Doug</div>
      <div class="card-subtitle text-gray">Owner: Lucy</div>
    </div>
    <div class="card-body">
      "It's a lot of work but it's what I imagine having a kid is like, worth all the stress and work for what you get out of it."
    </div>
    <div class="card-image">
      <img src="/images/Doug-lucy.jpg" class="img-responsive">
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header">
      <div class="card-title h5">Rouge</div>
      <div class="card-subtitle text-gray">Owner: Kerri</div>
    </div>
    <div class="card-body">
      "The only negative of having a dog is that you will run out of phone storage because you will take so many pictures of them being cute and funny"
    </div>
    <div class="card-image">
      <img src="/images/route-kerri.jpg" class="img-responsive">
    </div>
  </div>
  <div class="divider"></div>
  <div class="card">
    <div class="card-header">
      <div class="card-title h5">Cal</div>
      <div class="card-subtitle text-gray">Owner: Anna</div>
    </div>
    <div class="card-body">
      "I have a cat Anna dog" - totally valid quote
    </div>
    <div class="card-image">
      <img src="/images/cal-anna.jpg" class="img-responsive">
    </div>
  </div>
  <div class="divider"></div>
</div>
